.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .overlay {
    top: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient($primaryColor, transparent);
  }

  nav {
    position: relative;
    background-color: $negativeColor;
    padding: 0.5rem 0.75rem;
  }

  & img {
    height: 40px;
  }

  &__toggle {
    cursor: pointer;

    span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: $primaryColor;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &__links {
    a {
      position: relative;
      color: $primaryColor;
      font-size: $font-sm;
      font-weight: 400;
      transition: color 300ms ease-in-out;

      &::before {
        content: '';
        left: 0;
        right: 0;
        bottom: -22px;
        height: 3px;
        background-color: $activeColor;
        display: block;
        position: absolute;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        color: $activeColor;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}
