footer {
  border-top: 1px solid rgba(229, 231, 235, 100);
  clear: both;
  font-size: 14px;
  background: #fff;
  position: relative;
  z-index: 100;
  color: black;
  box-shadow: 0 1000px 0 1000px #fff;
}
