header {
  font-family: 'Archivo', serif;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid transparent;
  transition: border 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    background 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.logo img {
  max-height: 45px;
  padding: 5px;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  color: #243665;
  font-size: 2.5em;
  margin-left: 10px;
  /* text-shadow: -1px -1px 0 #243665, 1px -1px 0 #243665, -1px 1px 0 #243665,
    1px 1px 0 #243665; */
}

.menu {
  position: absolute;
  right: 0px;
}

.ant-menu {
  font-size: 1.2em;
  color: #243665;
  background: transparent;
}

.ant-menu-horizontal {
  border-bottom: none;
}

@media (max-width: 768px) {
  .logo {
    text-align: center;
  }
}
